@tailwind base;
@tailwind components;
@tailwind utilities;




/* 
#df2020
#212245
#fde4e4
#fcfcfc
*/
.box-Shadow{
    -webkit-box-shadow: 0px 1px 6px -1px rgba(171,162,171,1);
    -moz-box-shadow: 0px 1px 6px -1px rgba(171,162,171,1);
    box-shadow: 0px 1px 6px -1px rgba(171,162,171,1);
}

.activeBtn{
    background-color: white;
    padding: 2px 4px;
    border-radius: 5px;
    color: #df2020;
    display: flex;
    align-items: center;
    gap: 4px;
    outline: none;
}
.bannerImg{
    background-image: url(../public/assets/banner-02.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}